/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/07/2020, 00:07:07
    Author     : nicolau
*/

@charset "UTF-8";

p {
    text-align: justify;
    text-indent: 15px;
}

article li {
    color: #4aa3da;
}

article a {
    text-decoration: none;    
}

article li:hover {
    background: #10ee10; 
    color: #ffffff; 
    padding: 5px;
}

article h1 {
    background-color: #4aa3da; 
    padding: 10px; 
    color: white;
}
